
body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#logo{
    height: 50px;
    margin: 0px 10px;
}
header{
    height: 80px;
    width: 100%;
    background-color: white;
    display: inline-flex;
    justify-content:space-between;
    position: fixed;
    align-items: center;
    box-shadow: 2px 2px 5px rgb(0, 0, 0,0.2);
}
.center-alignment{
    display: flex;
    align-items: center;
}
nav{
    margin-right: 10px;
}
.a-nav{
    text-decoration: none;
    color: black;
    margin: 0px 10px;
}
.btn-nav{
    background-color: rgb(3, 3, 143);
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 100px;
    color: white;
    font-style: bold;
}

#body {
    width: 80%;
    margin: 0px auto;
    background-color: white;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#form-section {
    margin-bottom: 20px;
}

.subtitle {
    color: #2980b9;
    font-size: 20px;
    margin-bottom: 10px;
}

hr {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.col-25 {
    width: 23%;
    padding: 5px;
}

.col-50 {
    width: 48%;
    padding: 5px;
}

.read-only {
    padding: 8px;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 16px;
    color: black;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}


#profile-picture-section {
    text-align: center;
    padding-top: 175px;
}

#profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #2980b9;
}

#upload-picture {
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
}

#upload-picture:hover {
    background-color: #3498db;
}

body {
    background-image: url(image/bg3.png);
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
}

