body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top {
    display: flex;
    width: 100%;
    height: 100px;
}

.main_body {
    width: 100%;
    height: 882px;
    height: fit-content;
    display: flex;
}

.square {
   color:  white;
}

.square1 {
    color: #044c8c;
}

.rightside {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
}

.righttop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 140px;
    background-color: #C1DDF6;
    border: none;
    margin: 40px;
}

.righttoptext {
    font-weight: 700;
    color: #000000;
    font-size: 37px;
    letter-spacing: 0;
    line-height: 48px;
}

.rightbot {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.firstrow {
    display: flex;
    gap: 40px;
}

.secrow {
    display: flex;
    gap: 40px;
}

.box {
    width: 120px;
    height: 172px;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #044c8c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.righttitle {
    color: #044c8c;
    font-size: 12px;
    line-height: 25px;
    margin: 5px;
    margin-bottom: 0px;
}

.stpfp{
    display: block;
    margin: 50px auto;
    max-width: 300px;
    cursor: pointer;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 50px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 1000;
}

.overlay-content{
    background: white;
    border-radius: 10px;
    padding: 180px 300px;
    display: inline-block;
    color: #000000;
    max-width: 90%;
}