body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top {
    display: flex;
    width: 100%;
    height: max-content;
}

.main_body {
    width: 100%;
    height: 882px;
    height: fit-content;
    display: flex;
}

.square {
   color:  white;
}

.rightside {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
}

.righttoptext {
    font-weight: 700;
    color: #000000;
    font-size: 37px;
    letter-spacing: 0;
    line-height: 48px;
}

.rightbot {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.firstrow {
    display: flex;
    gap: 40px;
    height: max-content;
    width: 800px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.secrow {
    display: flex;
    gap: 40px;
}

.box {
    width: 120px;
    height: 172px;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #044c8c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.righttitle {
    color: #044c8c;
    font-size: 12px;
    line-height: 25px;
    margin: 5px;
    margin-bottom: 0px;
    width: 100%;
    background-color: white;
    text-align: center;
}

.stpfp{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 50px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 1000;
}

.overlay-content{
    background: white;
    border-radius: 10px;
    padding: 50px 150px;
    display: inline-block;
    color: #000000;
    max-width: 90%;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.hover-text{
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 145px;
    height: 190px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
}

.box:hover .hover-text{
    opacity: 1;
}

.box{
    position: relative;
}
.box .tutor-img{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.tutor-img{
    width: 125px;
    height: 180px;
    padding: 10px 30px;
    border-radius: 10px;
}

.btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.close-btn{
    margin-top: 40px;
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.save-btn{
    margin-right: 10px;
    margin-top: 40px;
    padding: 0px 40px;
    background-color: crimson;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.edit-btn{
    margin-right: 10px;
    margin-top: 40px;
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/*form*/
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main_body {
    width: 100%;
    height: 882px;
    height: fit-content;
    display: flex;
}
#subrow{
    display: flex;
}
.right{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.rightside {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
}
.row {
    display: flex;
    width: 100%;
    justify-content: left;
    margin-right: 5px;
}
.rowcenter{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 5px;
}
.col-100{
    width: 100%;
    display: inline-block;  
    margin-right: 10px;
}
.col-70{
    width: 70%;
    display: inline-block;  
    margin-right: 5px;
}
.col-30{
    width: 30%;
    display: inline-block;  
    margin-right: 5px;
}
.col-50{
    width: 50%;
    display: inline-block;  
    margin-right: 5px;
}
.col-40{
    width: 40%;
    display: inline-block;  
    margin-right: 5px;
}
.col-60{
    width: 60%;
    display: inline-block;  
    margin-right: 5px;
}
.col-602{
    width: 60%;
    display: inline-block;  
    margin-right: 10px;
}
.col-16{
    width: 16%;
    display: inline-block;  
    margin-right: 5px;
}
.col-80{
    width: 80%;
    display: inline-block;  
    margin-right: 5px;
}
.col-20{
    width: 20%;
    display: inline-block;  
    margin-right: 5px;
}
.col-10{
    width: 10%;
    display: inline-block;  
    margin-right: 5px;
}
.col-90{
    width: 90%;
    display: inline-block;  
    margin-right: 5px;
}
.righttop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 140px;
    background-color: #C1DDF6;
    border: none;
    margin: 40px;
    border-radius: 10px;
}

.righttoptext {
    font-weight: 700;
    color: #000000;
    font-size: 37px;
    letter-spacing: 0;
    line-height: 48px;
}
.option{
    display: flex;
    align-items: flex-end;
    margin-top: 12px;
}
.righttitletext{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
#schedtitle{
    display: inline-block;
    padding-top: 20px;
}

.rightbot {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    justify-content: center;
    align-content: center;
}
.rightbotbot{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottop {
    display: flex;
}


.leftbottop {
    width: 600px;
    height: 220px;
    font-size: 16px;
}

#pfpup {
    justify-content: center;
    margin-bottom: 25px;
    display: flex;
}

#filename {
    border: none;
    background: none;
    text-align: center;
}


#uploadbox {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    border: 1px solid black;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#uploadbox:hover {
    border-color: #007bff; /* Hover border color */
}

.uploadicon {
    font-size: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
}


.uploadtext {
    font-weight: bold;
    font-size: 14px;
}

.rightbottop {
    width: 800px;
    height: 220px;
    margin-right: 50px;
}
.textevent {
    width: 600px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 15px;
    font-size: 16px;
    background-color: #ffffff;
    margin: 10px;
}
.botform{
    width: 100%;
}
.labelday{
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}
.textlabel{
    font-weight: bold;
    margin-top: 14px;
    display:inline-block;
    font-size: 16PX;
    color: #3c364f;
}
.inputtext{
    width: 100%;
    font-size: 16px;
    padding: 6px 6px;
    margin-top: 10px;
    color: black;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    resize: vertical;
}
#student-selectdate{
    width: 100%;
}

.radiobtn{
    margin-right: 10px;
    margin-left: 16px;
}

#student-malelabel{
    margin-right: 16px;
    margin-left: 0px;
}

select{
    width: 99%;
    font-size: 18px;
    padding: 6px 6px;
    margin-top: 10px;
    background-color: white;
    color: #878787;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    resize: vertical;
}
#line-invi{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
}
.lightlabel{
    font-size: 13px;
    margin-top: 16px;
    display:inline-block;
}
.lightlabel-small{
    font-size: 8px;
    display:inline-block;
}
.inputtime{
    width: 100%;
    font-size: 18px;
    padding: 6px 6px;
    margin-top: 10px;
    color: #878787;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    resize: vertical;
}
.btnSUBMIT{
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.719);
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: #000000;
    margin-top: 16px;
    display: inline-block;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 230, 230, 0.103);
    backdrop-filter: blur(5px); 
    transition: opacity 0.3s ease; 
  }
  
  .modal-content {
    background-color: #dcecff;
    margin: 10% auto;
    padding: 20px;
    width: 40%;
    max-width: 400px;
    height: 150px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.164); 
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 100;
    transform: translateY(-10px); 
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .modal-text2 {
    margin-top: 5px;
    font-weight: 300;
    color: #333;
    font-size: 14px;
    font-style: italic;
  }

  .modal-text {
    margin: 0;
    color: #333;
    font-size: 27px;
    font-weight: 700;
  }
  #filename {
    border: none;
    background: none;
    text-align: center;
}


