.top {
    display: flex;
    width: 100%;
    height: auto;
}

.shortrectangle {
    border: 1px solid;
    border-color: #044c8c;
    width: 19.9%;
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.rectangletext {
    font-weight: 700;
    color: #044c8c;
    font-size: 20px;
    letter-spacing: 0;
}

.longrectangle {
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    border-color: #044c8c;
    gap: 700px;
}

.logout {
    font-weight: 400;
    color: #044c8c;
    font-size: 15px;
    text-decoration: none;
}

.longright {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


#pfp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url('../../images/Team/sweden.png');
    background-size: cover;
    background-position-x: center;
}


.title {
    font-weight: 600;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    margin-left: 10px;
}

#admin-info{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-right: 20px;
}

.modal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 230, 230, 0.103);
    backdrop-filter: blur(5px); 
    transition: opacity 0.3s ease; 
  }
  
  .modal-content {
    background-color: #dcecff;
    margin: 10% auto;
    padding: 20px;
    width: 40%;
    max-width: 400px;
    height: 150px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.164); 
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 100;
    transform: translateY(-10px); 
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .modal-text2 {
    margin-top: 5px;
    font-weight: 300;
    color: #333;
    font-size: 14px;
    font-style: italic;
  }

  .modal-text {
    margin: 0;
    color: #333;
    font-size: 27px;
    font-weight: 700;
  }
  #filename {
    border: none;
    background: none;
    text-align: center;
}
