body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main_body {
    width: 100%;
    height: 882px;
    height: fit-content;
    display: flex;
}

#textcenter{
    display: inline-block;
    text-align: center;
}

.square {
   color:  white;
}

.rightside {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
   align-items: center;
}

.righttop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 140px;
    background-color: #ff9b9b;
    border: none;
    margin: 40px;
    border-radius: 10px;
}

.righttoptext {
    font-weight: 700;
    color: #000000;
    font-size: 37px;
    letter-spacing: 0;
    line-height: 48px;
}

.rightbot {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.bottop {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.leftbottop {
    width: 35%;
    height: auto;
    font-size: 20px;
}

.uploadbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.uploadbox:hover {
    background-color: #e28888;
}

.uploadicon {
    font-size: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.uploadtext {
    font-weight: bold;
    font-size: 15px;
}

.rightbottop {
    width: 50%;
    height: auto;
}

.formtext {
    margin: 5px;
    margin-left: 0px;
    font-size: 16px;
}

.textevent {
    width: 300px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 15px;
    font-size: 14px;
    background-color: #ffffff;
    margin: 10px;
}

#date {
    width: 300px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 15px;
    font-size: 14px;
    color: #333333c9;
    background-color: #ffffff;
    text-align: center;
    margin: 10px;
}

.botbot {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.midform {
    width: max-content;
}

#desc {
    margin: 5px;
    padding-left: 5px;
    font-size: 20px;
    font-weight: 400;
}

#descinp {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 15px;
    font-size: 18px;
    background-color: #ffffff;
    color: #333;
    margin: 10px;
}

.bottomform {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 550px;
    margin: 20px;
}

.btnAddEvent {
    padding: 20px;
    width: 220px;
    border: 1px solid rgba(255, 255, 255, 0.719);
    border-radius: 15px;
    font-size: 16px;
    color: white;
    background-color: #000000;
    margin-top: 16px;
}
.title2 {
    font-weight: 700;
    color: #ffffff;
    font-size: 23px;
    letter-spacing: 0;
    margin-bottom: 60px;
}

#btn-save{
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 8px 25px;
    margin-top: 30px;
    margin-left: 5px;
}
.btn{
    width: 100%;
    box-sizing: border-box; 
    resize: vertical;
}
#btn-save:hover{
    background-color: white;
    color: black;
    font-style: bold;
}