
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main_body {
    width: 100%;
    height: 882px;
    height: fit-content;
    display: flex;
}

.rightside {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
   align-items: center;
}

/* Section for top header */
.righttop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 140px;
    background-color: #ff9b9b;
    border: none;
    margin: 40px;
    border-radius: 10px;
}

.righttoptext {
    font-weight: 700;
    color: #000000;
    font-size: 37px;
    letter-spacing: 0;
    line-height: 48px;
}

.rightbot {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.toppp {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.box-dashboard {
    width: 150px;
    height: 150px;
    background-color: #770000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 4px solid #770000;
    transition: background-color 0.3s ease;
}

.box-dashboard:hover {
    background-color: #ff4c4c;
}

.righticons {
    color: #fff;
    font-size: 60px;
}

.righttitle {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
}

.report-section {
    display: block; /* All sections are hidden by default */
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}