.leftside {
    width: 20%;
    height: auto;
    background-color: #9e2323;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 10px;
    cursor: default;
}


#main_pfp-admin {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    background-image: url('../../images/Team/sweden.png');
    border-radius: 10px;
}


.leftoptions1 { /*for selected */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.lefttext1 { /*for selected*/
    font-weight: 700;
    color: #9e2323;
    font-size: 20px;
    letter-spacing: 0;
}


.leftoptions {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 88px;
    padding-left: 20px;
}


.lefttext2 {
    font-weight: 600;
    color: #ffffff;
    font-size: 21px;
    letter-spacing: 0;
    line-height: 48px;
}


.square {
   color:  white;
}


.square1 {/* for selected*/
    color: #9e2323;
}
a{
    text-decoration: none;
    border: none;
}
.title2 {
    font-weight: 700;
    color: #ffffff;
    font-size: 23px;
    letter-spacing: 0;
    margin-bottom: 60px;
}
